%section.sidebar
  %header
    =link_to image_tag("/images/logo-codemash.png"), "http://codemash.org/"
    %p Lightning Talks are 5-minute prepared talks. You can use slides, or not, and you can talk about anything you want. You can use the form on the left to submit your own talk. We'll be going through the talks in order of proposal. #{link_to 'more info', "https://groups.google.com/d/topic/codemash/w_qZMrPqBAg/discussion"}
  %section.details
    %h1 Details
    %ul
      %li
        %b When:
        Thursday night during cocktail party
      %li
        %b Length:
        90 minutes
      %li
        %b Hosted By:
        #{link_to "Corey Haines", "http://twitter.com/coreyhaines"}
      %li
        %b For More Info:
        Watch #{link_to "Twitter", "http://twitter.com/codemash"} and the #{link_to "Google Group", "https://groups.google.com/forum/#!forum/codemash"}
  %section.notes
    %h1 Notes
    %ul
      %li
        %b Slide format:
        We'll be running off a central computer, most likely a mac, so PDF or online slides are prefered. We can't guarantee that powerpoint format will be supported. I'll be contacting people for their slide decks.
      %li
        %b Slide Delivery:
        I'll be contacting people for their slide decks. If you want to be super awesome, #{link_to "email me your deck ahead of time", "mailto:coreyhaines%2Bcodemashlightningtalks@gmail.com?subject=Lightning%20Talk%20Slides"}
      %li
        %b Design:
        I'm also available for contract web design work. After seeing this page, I know people will be knocking down my door!

%header
  %h1 Lightning Talks for Codemash 2012

%section.new_proposal_form
  %header
    %h1 Submit your own lightning talk
  =form_for @new_proposal do |form|
    .field.required
      =form.label :name, "Name"
      =form.text_field :name
    .field.required
      =form.label :email_address, "Email Address"
      =form.text_field :email_address
    .field
      =form.label :twitter_handle, "Twitter Handle"
      =form.text_field :twitter_handle
    .field.required
      =form.label :topic, "Topic"
      =form.text_area :topic
    .buttons
      =form.submit "Submit my lightning talk"

%section.proposals
  %header
    %h1 #{pluralize @submitted_proposals.count, "Proposal"} Submitted So Far
  %ul
    -@submitted_proposals.each do |proposal|
      %li.proposal
        %header #{proposal.name} (#{twitter_handle_as_link(proposal.twitter_handle)})
        %section.topic=proposal.topic

